
/src/app/query
/src/app/seed
/src/app/ui/customers


/src/public/customers
/src/public
src/app/ui/dashboard/latest-invoices.tsx
src/app/ui/dashboard/cards.tsx
src/app/lib/definitions.ts
src/app/lib/placeholder-data.ts
src/app/lib/utils.ts
src/app/lib/data.ts
src/app/ui/invoices/create-form-to-be-del.tsx
src/app/ui/invoices/edit-form.tsx
src/app/ui/invoices/pagination.tsx
src/app/ui/invoices/status.tsx
src/app/ui/invoices/table.tsx
node_modules
