
/src/app/query
/src/app/seed
/src/app/ui/customers
/src/app/ui/invoices

/src/public/customers
/src/public
src/app/ui/dashboard/latest-invoices.tsx
src/app/ui/dashboard/cards.tsx
src/app/lib/definitions.ts
src/app/lib/placeholder-data.ts
src/app/lib/utils.ts
src/app/lib/data.ts
